* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CircularSp-Book, sans-serif;
  /* font-family: Helvetica Neue,
  helvetica,
  arial,
  Hiragino Kaku Gothic ProN,
  Meiryo,
  MS Gothic; */
}

@font-face {
  font-family: CircularSp-Book;
  src: url(../fonts/CircularSp-Book.woff2);
}

@font-face {
  font-family: CircularSpTitle-Bold;
  src: url(../fonts/CircularSpTitle-Bold.woff2);
}

@font-face {
  font-family: CircularSp-Bold;
  src: url(/assets/fonts/CircularSp-Bold.woff2);
}

@font-face {
  font-family: CircularSpTitle-Black;
  src: url(/assets/fonts/CircularSpTitle-Black.woff2);
}

body {
  background-color: #000000;
  width: 100vw;
  height: 100%;
}

.container-principal {
  display: grid;
  grid-template-areas:
    "father container"
    "father container";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.father {
  grid-area: 'father';
  width: 25rem;
  margin: 20px;
}

header {
  width: 100%;
}

header ul {
  width: 100%;
  font-family: "Anek Tamil", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.librery li {
  gap: 10px;
}

.librery,
li {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-weight: 600;
  transition: color 200ms;
  color: #b3b3b3;
}

img {
  color: inherit;
}

span {
  color: inherit;
}

p {
  color: #b3b3b3;
}

.father-said {
  height: 48rem;
  overflow: hidden;
  width: 100%;
}

.father-said .librery li {
  flex: 1;
}

.librery {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 40px 10px 30px 0;
}

.librery span {
  font-family: "Anek Tamil", sans-serif;
  color: #b3b3b3;
}

li:hover {
  cursor: pointer;
  color: #ffffff;
}

.librery div:hover {
  cursor: pointer;
  transform: scale(1.09);
  opacity: bold;
  ;
}

.simbolos {
  display: flex;
  gap: 20px;
}

.option {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 10px 0;
  gap: 30px;
}

.option li {
  color: #ffffff;
  font-weight: 400;
}

.playlists .search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.recentes {
  display: flex;
  gap: 5px;
  all: 0.2s;
}

.recentes:hover {
  transform: scale(1.01);
  filter: contrast(1.8);
}

.search {
  align-items: center;
}

.search .lupa {
  flex: 1;
  margin-bottom: 10px;
}

.playlists .search img {
  width: 15px;
  height: 20px;
  opacity: 0.8;
}

.playlists .search p {
  font-size: 14px;
}

.circular {
  gap: 15px;
  border-radius: 50% !important;
}

.playlists img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.circular img {
  border-radius: 50%;
}

.circular img {
  gap: 20px;
}

.playlists {
  max-height: 40rem;
  overflow-x: hidden;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.playlists .search {
  height: 15px;
  width: 100%;
}

.playlists h3 {
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
}

.playlists .song-green h3 {
  color: #1FB549;
}

.playlists p {
  font-size: 15px;
  font-weight: 100;
}

.playlists li {
  gap: 10px;
}

nav ul li {
  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
  height: 42rem;
}

::-webkit-scrollbar {
  width: 8px;
  opacity: 0%;
}

::-webkit-scrollbar-thumb {
  background: 5px grey;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #000000;
}

footer,
.first-footer {
  display: flex;
  align-items: center;
}

.first-footer {
  width: 20%
}

footer img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

footer h3 {
  font-weight: 500;
  color: #b3b3b3;
  margin-top: 3px;
}

footer p {
  font-weight: 300;
}

.menu-footer .reproduzir {
  align-items: center;
  justify-content: center;
}

.menu-footer {
  width: 40%;
}

.menu-footer .barra {
  gap: 12px;
}

.last-footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: end;
  width: 20%;
  height: 40px;
}

.last-footer img {
  height: 16px;
  width: 16px;
}

.music-hashtag {
  color: #fff;
}

.singer {
  color: #a7a7a7;
  font-size: 12px;
}

.singer:hover,
.music-hashtag:hover {
  text-decoration: underline;
  cursor: pointer;
}

.plus img {
  width: 15px;
  height: 15px;
}

.plus {
  margin: 0 20px;
}

.reproduzir img {
  height: 20px;
  width: 20px;
}

.reproduzir .play {
  height: 35px;
  width: 35px;
}

.reproduzir {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reproduzir .sides {
  opacity: 0.3;
}

.reproduzicon.icon-install-back-next {
  height: 17px;
  width: 17px;
}

.barra {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.barra p {
  display: flex;
  height: 18px;
  width: 35px;
}

.reproducao {
  background-color: #a7a7a7;
  width: 80%;
  height: 0.2rem;
  margin-top: 10px;
}

.principal {
  overflow: scroll;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90%;
  width: 100%;
  gap: 20px;
}

.principal img {
  width: 150px;
  height: 150px;
}

.album {
  background: linear-gradient(90deg, rgba(23, 51, 161, 1) 54%, rgba(18, 28, 153, 1) 97%);
  width: 100%;
}

.img-album {
  background: rgb(7, 30, 96);
  background: radial-gradient(circle, rgba(7, 30, 96, 1) 35%, rgba(10, 29, 101, 1) 62%, rgba(6, 20, 89, 1) 73%);
  padding: 5px 25px 23px 25px;
  display: flex;
  align-items: end;
  gap: 30px;
  width: 100%;
}

.img-album img {
  width: 232px;
  height: 232px;
  border-radius: 2%;
  transition: all 0.2s;
  background-color: #000000;
  box-shadow: 1px 3px 30px rgb(36, 33, 33);
}

.img-album img:hover {
  transform: scale(1.02);
}

.texto h3 {
  height: 30px;
  color: #b3b3b3;
}

.texto-album p {
  margin-bottom: 0;
}

.texto-musica h3 {
  font-size: 5rem;
  height: 96px;
}

.texto-artista h3 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.texto-artista {
  display: flex;
  gap: 5px;
  align-items: end;
  justify-content: start;
}

.texto .texto-artista img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.container {
  grid-area: 'container';
}

.seta-esquerda img,
.seta-direita img {
  display: flex;
  flex-direction: row;
  height: 16px;
  width: 16px;
}

.seta-esquerda,
.seta-direita {
  border: none;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 100%;
  background-color: #000000;
}

.setas {
  margin: 5px 25px;
  display: flex;
  gap: 10px;
  width: 59%;
}

.icon-install img {
  width: 16px;
  height: 16px;
}

.icon-install .button-install {
  display: flex;
  justify-content: left;
}

.icon-install .button-install {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 10px 10px;
  border: none;
  height: 32px;
  width: 160px;
  border-radius: 50px;
  background: #000000;
}

.button-install p {
  color: #ffffff;
  font-weight: 600;
}

.icons-header {
  background: rgb(7, 30, 96);
  background: radial-gradient(circle, rgba(7, 30, 96, 1) 35%, rgba(10, 29, 101, 1) 62%, rgba(6, 20, 89, 1) 73%);
  display: flex;
  padding: 10px 0;
}

.sino {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #000000;
  border-radius: 100%;
}

.icon-install {
  /* padding: 5px; */
  width: 300px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-install:hover {
  transform: scale(1.08);
}

.sino:hover,
.perfil:hover {
  transform: scale(1.06);
}

.perfil {
  height: 30px;
  width: 30px;
  background-color: #000000;
  border: none;
  border-radius: 100%;
}

.icons-principal {
  background: rgb(7, 30, 96);
  background: radial-gradient(circle, rgba(7, 30, 96, 1) 35%, rgba(10, 29, 101, 1) 62%, rgba(6, 20, 89, 1) 73%);
  height: 100px;
  width: 100%;
}

.tocar-album img {
  margin-left: 20px;
  height: 58px;
  width: 58px;
}

.icon-save img {
  height: 32px;
  width: 32px;
  opacity: 0.7;
}

.tres-pontos img {
  height: 22px;
  width: 22px;
  opacity: 0.7;
}

.icons-principal {
  display: flex;
  align-items: center;
}

.lista {
  display: flex;
  align-items: center;
  width: 13px;
  height: 16px;
  gap: 6px;
}

.lista img {
  height: 10px;
  right: 10px;
}

.lista:hover {
  cursor: pointer;
  font-weight: 700;
}

.three-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 72%;
}

.meio {
  background: rgb(7, 30, 96);
  background: radial-gradient(circle, rgba(7, 30, 96, 1) 35%, rgba(10, 29, 101, 1) 62%, rgba(6, 20, 89, 1) 73%);
  display: flex;
  align-items: center;
  padding: 10px 42px;
  gap: 10px;
}

.title {
  font-size: 13px;
  width: 70%;
}

.icon-duration img {
  height: 30px;
  width: 16px;
  opacity: 0.7;
}

.musicas-album ul li div {
  display: flex;
  flex-direction: column;
}

.musicas-album ul {
  display: flex;
  flex-direction: column;
  padding: 1px 40px;
  gap: 10px;
}

.musicas-album h4,
span {
  font-family: CircularSp-Book;
}

.musicas-album h4 {
  color: white;
  font-weight: 400;
}

.musicas-album p {
  font-weight: 200;
  align-items: center;
  display: flex;
  height: 16px;
  width: 16px;
}

.musicas-album ul li {
  width: 100%;
  height: 100%;
}

.musicas-album span {
  height: 14px;
  width: 16px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b3b3;
  color: #000000;
  padding: 2px 4px;
  line-height: 2px;
  border-radius: 2px;
}

.icon-play img {
  display: none;
}

.icon-play img {
  height: 16px;
  width: 16px;
}

li:hover .icon-play p {
  display: none;
}

li:hover .icon-play img {
  display: block;
}

.data-inf {
  font-size: 12px;
  padding: 20px 30px;
}

.texto-recomendation {
  display: flex;
  color: #fff;
  padding: 2px 30px;
}

.texto-recomendation h3 {
  width: 70%;
}

.texto-recomendation:hover h3 {
  text-decoration: underline;
}

.recomendation-img {
  padding: 2px 30px;
  display: flex;
  gap: 30px;
}

.recomendation-img h4 {
  font-weight: 400;
  color: #fff;
}

.recomendation-img img {
  height: 180px;
  width: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.recomendation-img .play-music {
  display: none;
}

.play-music img {
  width: 50px;
  height: 50px;
}

.inf-final {
  padding: 80px 30px;
  display: flex;
  gap: 150px;
}

.inf-final h4 {
  padding: 10px 0px;
  color: #fff;
  font-weight: 500;
}

.inf-final div p {
  gap: 50px;
}

.inf-final p:hover {
  text-decoration: underline;
  color: #fff;
}

.inf-politic {
  display: flex;
  gap: 20px;
}

.inf-politic p {
  font-size: 14px;
}

.inf-politic p:hover {
  font-weight: bold;
}

.last-div {
  width: 15%;
}

.last-icons {
  display: flex;
  gap: 20px;
}

.last-icons button img {
  height: 16px;
  width: 16px;
  background: none;
}

.last-icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: #423e3e;
  border: none;
  border-radius: 100%;
}

@media (max-width:930px) {

  .father {
    display: none;
  }

  .icons-header {
    display: none;
  }

  .menu-footer,
  .last-footer {
    display: none;
  }

  .meio {
    display: none;
  }

  .lista {
    display: none;
  }

  .texto-album {
    display: none;
  }

  .texto-recomendation,
  .recomendation-img,
  .data-inf,
  .inf-final {
    display: none;
  }

  .img-album {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-musica h3 {
    color: #fff;
    font-size: 1.4rem;
    height: 1.6rem;
  }

  .inf-politic {
    padding: 40px 8px;
    overflow: hidden;
  }

  .inf-politic p:nth-last-child(2) {
    display: none;
  }

  .three-icons {
    padding: 10px 30px;
  }

  .container-principal {
    overflow: hidden;
  }
}

@media (min-width: 930px) {

  .img-album {
    padding: 10px 8px;
    display: flex;
    align-items: center;
  }

  .texto {
    padding: 10px 0px;
  }

  .texto-album p {
    align-items: flex-start;
  }

}

@media (max-width: 1600px) {
  
  .texto-musica h3 {
    font-size: 4rem;
    height: 5rem;
  }
 
@media (max-width: 1400px) {
  
  .texto-musica h3 {
    font-size: 3rem;
    height: 2rem;
  }
}  

@media (max-width: 1200px) {
  
  .texto-musica h3 {
    font-size: 1.7rem;
    height: 1.2rem;
  }
}
}

