* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CircularSp-Book, sans-serif;
  /* font-family: Helvetica Neue,
  helvetica,
  arial,
  Hiragino Kaku Gothic ProN,
  Meiryo,
  MS Gothic; */
}

@font-face {
  font-family: CircularSp-Book;
  src: url(../fonts/CircularSp-Book.woff2);
}

@font-face {
  font-family: CircularSpTitle-Bold;
  src: url(../fonts/CircularSpTitle-Bold.woff2);
}

@font-face {
  font-family: CircularSp-Bold;
  src: url(/assets/fonts/CircularSp-Bold.woff2);
}

@font-face {
  font-family: CircularSpTitle-Black;
  src: url(/assets/fonts/CircularSpTitle-Black.woff2);
}

body {
  background-color: #000000;
  width: 100vw;
  height: 100%;
}

.container-principal {
  display: grid;
  grid-template-areas:
    "father container"
    "father container";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  overflow: hidden;
  position: relative;
  /* grid-template-rows: 1fr 1fr; */
  height: 100vh;
  background: rgb(3, 3, 3);
}

.father {
  /* width: 30%; */
  grid-area: 'father';
  width: 25rem;
  margin: 20px;
}

header {
  width: 100%;
}

header ul {
  width: 100%;
  font-family: "Anek Tamil", sans-serif;
  /* margin: 30px;
  margin-top: 30px;
  margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.librery li {
  gap: 10px;
}

.librery,
li {
  display: flex;
  /* border: 1px solid red; */
  gap: 20px;
  list-style-type: none;
  font-weight: 600;
  transition: color 200ms;
  color: #b3b3b3;

}

img {
  color: inherit;
  /*herda a cor da div pai (ul) */
}

span {
  color: inherit;
}

p {
  color: #b3b3b3;
}

.father-said {
  /* display: grid; */
  height: 100vh;
  width: 100%;
}

.father-said .librery li {
  flex: 1;
}

.librery li {
  flex: 1;
}

.librery {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /* margin-top: 30px; */
  margin: 40px 10px 30px 0;
  /* margin-bottom: 0; */
}

.librery span {
  font-family: "Anek Tamil", sans-serif;
  color: #b3b3b3;
}

li:hover {
  color: #ffffff;
}

.simbolos {
  display: flex;
  gap: 20px;
}

.option {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 10px 0;
  gap: 30px;
}

.option li {
  color: #ffffff;
  font-weight: 400;
}

.playlists .search {
  display: flex;
  flex-direction: row;
  /* margin-left: 30px; */
  gap: 10px;
  margin-top: 20px;
}

.search {
  align-items: center;
}

.search .lupa{
  flex: 1;
  margin-bottom: 10px;
}

.playlists .search img {
  width: 15px;
  height: 20px;
  opacity: 0.8;
}

.playlists .search p {
  font-size: 14px;
}

.circular {
  gap: 15px;
  border-radius: 50% !important;
}

.playlists img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

/* .song-green img .playing-now {
  display: flex;
  flex-direction: row;
} */

.circular img {
  border-radius: 50%;
}

.circular img {
  gap: 20px;
}

.playlists {
  /* overflow: scroll; */
  max-height: 35rem;
  overflow-x: hidden;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.playlists .search {
  height: 15px;
  width: 100%;
}

.playlists h3 {
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
}

.playlists .song-green h3 {
  /* color: rgba(20, 238, 20, 0.897); */
  color: #1FB549;
}

.playlists p {
  font-size: 15px;
  font-weight: 100;
}

.playlists li {
  /* width: 50%; */
  gap: 10px;
}

nav ul li {
  display: flex;
  flex-direction: row;
}

nav {
  width: 100%;
  height: 35rem;
}

::-webkit-scrollbar {
  width: 8px;
  opacity: 0%;
}

::-webkit-scrollbar-thumb {
  background: 5px grey;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  bottom: 0;
  /* position: absolute; */
  width: 100%;
  background-color: #000000;
}

footer,
.first-footer {
  display: flex;
  align-items: center;
  /* height: 60px; */
}

footer img {
  width: 50px;
  height: 50px;
  /* margin: 20px 30px; */
  margin-right: 10px;
  border-radius: 5px;
  /* margin-top: 50px; */
}

footer h3 {
  font-weight: 500;
  color: #b3b3b3;
  margin-top: 3px;
}

footer p {
  font-weight: 300;
}

.music-title {
  color: #fff;
}

.singer {
  color: #a7a7a7;
  font-size: 12px;
}

.singer:hover,
.music-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.plus img {
  width: 15px;
  height: 15px;
}

.plus {
  margin: 0 20px;
}

.menu-footer .reproduzir {
  align-items: center;
  justify-content: center;
}

.reproduzir img {
  height: 20px;
  width: 20px;
}

.reproduzir .play {
  height: 35px;
  width: 35px;
}

.reproduzir {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reproduzir .sides {
  opacity: 0.3;
}

.reproduzicon.icon-install-back-next {
  height: 17px;
  width: 17px;
}

.menu-footer .barra {
  gap: 12px;
}

.principal {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* width: 100%; */
  height: 90%;
  width: 100%;
  gap: 20px;
}

.principal img {
  width: 150px;
  height: 150px;
}

.album {
  /* background-color: #070d5e; */
  /* height: 55%; */
  background-color: grey;
  width: 100%;
}

.img-album {
  padding: 40px 25px;
  display: flex;
  align-items: end;
  gap: 30px;
  width: 100%;
}

.img-album img {
  width: 232px;
  height: 232px;
}

.texto h3 {
  /* width: 100vw; */
  height: 30px;
  color: #b3b3b3;
}

.texto-album p {
  margin-bottom: 0;
}

.texto-musica h3 {
  font-size: 86px;
  height: 96px;
}

.texto-artista h3 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
}

.texto-artista {
  display: flex;
  gap: 5px;
  align-items: end;
  justify-content: start;
}

.texto .texto-artista img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.container {
  grid-area: 'container';
  /* width: 20rem; */
}

.seta-esquerda img,
.seta-direita img {
  display: flex;
  flex-direction: row;
  height: 16px;
  width: 16px;
}

.seta-esquerda,
.seta-direita {
  border: none;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* margin: 5px 30px; */
  border-radius: 100%;
  background-color: #000000;
}

.setas {
  margin: 5px 30px;
  display: flex;
  gap: 15px;
  width: 60%;
}

.icon-install img {
  width: 16px;
  height: 16px;
}

.icon-install .button-install {
  display: flex;
  justify-content: left;
}

.icon-install .button-install {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 10px 10px;
  border: none;
  height: 38px;
  width: 150px;
  border-radius: 20%;
  background: #000000;
}

.icons-header {
  display: flex;
  /* justify-content: space-between; */
}

.sino {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #000000;
  border-radius: 100%;
}

.icon-install {
  display: flex;
  align-items: center;
  justify-content: center;
}